wsdls/ccuapi-axis.wsdl

<?xml version="1.0" standalone="no"?>

<!--
Copyright (c) 2006 Akamai Technologies, Inc. 
The information herein is proprietary and confidential to Akamai, and 
it may only be used under appropriate agreements with the Company.  
Access to this information does not imply or grant you any right to  
use the information, all such rights being expressly reserved.
-->

<wsdl:definitions name="PurgeRequest"
    targetNamespace="http://www.akamai.com/purge"
    xmlns:purgedt="http://www.akamai.com/purge"
    xmlns:typens="http://www.akamai.com/purge"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://www.akamai.com/purge"
                xmlns:purgedt="http://www.akamai.com/purge"
                xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns="http://www.w3.org/2001/XMLSchema" >

            <xsd:complexType name="ArrayOfString">
                <xsd:complexContent>
                  <xsd:restriction base="soapenc:Array">
                    <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="string[]" />
                  </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="PurgeResult">
                <xsd:all>
                    <xsd:element name="resultCode" type="xsd:int"/>
                    <xsd:element name="resultMsg" type="xsd:string"/>
                    <xsd:element name="sessionID" type="xsd:string"/>
                    <xsd:element name="estTime" type="xsd:int"/>
                    <xsd:element name="uriIndex" type="xsd:int"/>
                    <xsd:element name="modifiers" nullable="true" type="typens:ArrayOfString"/>
                </xsd:all>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <message name="purgeRequest" >
        <part name="name" type="xsd:string"/>
        <part name="pwd" type="xsd:string"/>
        <part name="network" type="xsd:string"/>
        <part name="opt" type="typens:ArrayOfString"/>
        <part name="uri" type="typens:ArrayOfString"/>
    </message>
    <message name="purgeRequestResponse" >
        <part name="return" type="typens:PurgeResult" />
    </message>

    <portType name="PurgeApi">
        <operation name="purgeRequest">
            <input  message="typens:purgeRequest"
                    name="purgeRequest"/>
            <output message="typens:purgeRequestResponse"/>
        </operation>
    </portType>

    <binding name="PurgeApiSOAPBinding" type="typens:PurgeApi">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="purgeRequest">
            <soap:operation soapAction="" style="rpc"/>
            <input>
                <soap:body
                    use="encoded"
                    namespace="http://www.akamai.com/purge"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body
                    use="encoded"
                    namespace="http://www.akamai.com/purge"
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="JavaClasses">
        <documentation>Provides programmatic purge access </documentation>
        <port name="PurgeApi" binding="typens:PurgeApiSOAPBinding">
            <soap:address
                location="https://ccuapi.akamai.com:443/soap/servlet/soap/purge"/>
        </port>
    </service>
</wsdl:definitions>
