wsdls/eccu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" xmlns:akaawsdt="https://control.akamai.com/AWS.xsd" xmlns:akapubeccudt="https://control.akamai.com/2003/Sep/PublishECCU.xsd" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:eccuinfodt="https://control.akamai.com/Publish.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!--WSDL created by Apache Axis version: 1.3
Built on Jan 26, 2006 (05:12:02 PST)-->

  <wsdl:types>

    <schema targetNamespace="https://control.akamai.com/AWS.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

      <import namespace="https://control.akamai.com/Publish.xsd"/>

      <import namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd"/>

      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="AWSFault">

        <sequence/>

      </complexType>

    </schema>

    <schema targetNamespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

      <import namespace="https://control.akamai.com/AWS.xsd"/>

      <import namespace="https://control.akamai.com/Publish.xsd"/>

      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="ArrayOfInt">

        <complexContent>

          <restriction base="soapenc:Array">

            <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>

          </restriction>

        </complexContent>

      </complexType>

    </schema>

    <schema targetNamespace="https://control.akamai.com/Publish.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

      <import namespace="https://control.akamai.com/AWS.xsd"/>

      <import namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd"/>

      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="EccuInfo">

        <sequence>

          <element name="contents" nillable="true" type="xsd:base64Binary"/>

          <element name="extendedStatusMessage" nillable="true" type="xsd:string"/>

          <element name="fileId" type="xsd:int"/>

          <element name="fileSize" type="xsd:int"/>

          <element name="filename" nillable="true" type="xsd:string"/>

          <element name="md5Digest" nillable="true" type="xsd:string"/>

          <element name="notes" nillable="true" type="xsd:string"/>

          <element name="propertyName" nillable="true" type="xsd:string"/>

          <element name="propertyNameExactMatch" type="xsd:boolean"/>

          <element name="propertyType" nillable="true" type="xsd:string"/>

          <element name="statusChangeEmail" nillable="true" type="xsd:string"/>

          <element name="statusCode" type="xsd:int"/>

          <element name="statusMessage" nillable="true" type="xsd:string"/>

          <element name="statusUpdateDate" nillable="true" type="xsd:dateTime"/>

          <element name="uploadDate" nillable="true" type="xsd:dateTime"/>

          <element name="uploadedBy" nillable="true" type="xsd:string"/>

          <element name="versionString" nillable="true" type="xsd:string"/>

        </sequence>

      </complexType>

    </schema>

  </wsdl:types>


    <wsdl:message name="setStatusChangeEmailResponse">


        <wsdl:part name="setStatusChangeEmailReturn" type="xsd:boolean"/>


    </wsdl:message>


    <wsdl:message name="getIdsResponse">


        <wsdl:part name="getIdsReturn" type="akapubeccudt:ArrayOfInt"/>


    </wsdl:message>


    <wsdl:message name="deleteResponse">


        <wsdl:part name="deleteReturn" type="xsd:boolean"/>


    </wsdl:message>


    <wsdl:message name="setStatusChangeEmailRequest">


        <wsdl:part name="fileId" type="xsd:int"/>


        <wsdl:part name="statusChangeEmail" type="xsd:string"/>


    </wsdl:message>


    <wsdl:message name="setNotesRequest">


        <wsdl:part name="fileId" type="xsd:int"/>


        <wsdl:part name="notes" type="xsd:string"/>


    </wsdl:message>


    <wsdl:message name="getInfoResponse">


        <wsdl:part name="getInfoReturn" type="eccuinfodt:EccuInfo"/>


    </wsdl:message>


    <wsdl:message name="AWSFault">


        <wsdl:part name="fault" type="akaawsdt:AWSFault"/>


    </wsdl:message>


    <wsdl:message name="uploadResponse">


        <wsdl:part name="uploadReturn" type="xsd:int"/>


    </wsdl:message>


    <wsdl:message name="setNotesResponse">


        <wsdl:part name="setNotesReturn" type="xsd:boolean"/>


    </wsdl:message>


    <wsdl:message name="getInfoRequest">


        <wsdl:part name="fileId" type="xsd:int"/>


        <wsdl:part name="retrieveContents" type="xsd:boolean"/>


    </wsdl:message>


    <wsdl:message name="uploadRequest">


        <wsdl:part name="filename" type="xsd:string"/>


        <wsdl:part name="contents" type="xsd:base64Binary"/>


        <wsdl:part name="notes" type="xsd:string"/>


        <wsdl:part name="versionString" type="xsd:string"/>


        <wsdl:part name="propertyName" type="xsd:string"/>


        <wsdl:part name="propertyType" type="xsd:string"/>


        <wsdl:part name="propertyNameExactMatch" type="xsd:boolean"/>


        <wsdl:part name="statusChangeEmail" type="xsd:string"/>


    </wsdl:message>


    <wsdl:message name="getIdsRequest">


    </wsdl:message>


    <wsdl:message name="deleteRequest">


        <wsdl:part name="fileId" type="xsd:int"/>


    </wsdl:message>


    <wsdl:portType name="PublishECCU">


        <wsdl:operation name="delete" parameterOrder="fileId">


            <wsdl:input message="akapubeccudt:deleteRequest" name="deleteRequest"/>


            <wsdl:output message="akapubeccudt:deleteResponse" name="deleteResponse"/>


            <wsdl:fault message="akapubeccudt:AWSFault" name="AWSFault"/>


        </wsdl:operation>


        <wsdl:operation name="setNotes" parameterOrder="fileId notes">


            <wsdl:input message="akapubeccudt:setNotesRequest" name="setNotesRequest"/>


            <wsdl:output message="akapubeccudt:setNotesResponse" name="setNotesResponse"/>


            <wsdl:fault message="akapubeccudt:AWSFault" name="AWSFault"/>


        </wsdl:operation>


        <wsdl:operation name="setStatusChangeEmail" parameterOrder="fileId statusChangeEmail">


            <wsdl:input message="akapubeccudt:setStatusChangeEmailRequest" name="setStatusChangeEmailRequest"/>


            <wsdl:output message="akapubeccudt:setStatusChangeEmailResponse" name="setStatusChangeEmailResponse"/>


            <wsdl:fault message="akapubeccudt:AWSFault" name="AWSFault"/>


        </wsdl:operation>


        <wsdl:operation name="upload" parameterOrder="filename contents notes versionString propertyName propertyType propertyNameExactMatch statusChangeEmail">


            <wsdl:input message="akapubeccudt:uploadRequest" name="uploadRequest"/>


            <wsdl:output message="akapubeccudt:uploadResponse" name="uploadResponse"/>


            <wsdl:fault message="akapubeccudt:AWSFault" name="AWSFault"/>


        </wsdl:operation>


        <wsdl:operation name="getIds">


            <wsdl:input message="akapubeccudt:getIdsRequest" name="getIdsRequest"/>


            <wsdl:output message="akapubeccudt:getIdsResponse" name="getIdsResponse"/>


            <wsdl:fault message="akapubeccudt:AWSFault" name="AWSFault"/>


        </wsdl:operation>


        <wsdl:operation name="getInfo" parameterOrder="fileId retrieveContents">


            <wsdl:input message="akapubeccudt:getInfoRequest" name="getInfoRequest"/>


            <wsdl:output message="akapubeccudt:getInfoResponse" name="getInfoResponse"/>


            <wsdl:fault message="akapubeccudt:AWSFault" name="AWSFault"/>


        </wsdl:operation>


    </wsdl:portType>


    <wsdl:binding name="PublishECCU" type="akapubeccudt:PublishECCU">


        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>


        <wsdl:operation name="delete">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="deleteRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="deleteResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="AWSFault">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AWSFault" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="setNotes">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="setNotesRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="setNotesResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="AWSFault">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AWSFault" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="setStatusChangeEmail">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="setStatusChangeEmailRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="setStatusChangeEmailResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="AWSFault">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AWSFault" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="upload">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="uploadRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="uploadResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="AWSFault">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AWSFault" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="getIds">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="getIdsRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="getIdsResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="AWSFault">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AWSFault" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="getInfo">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="getInfoRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="getInfoResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="AWSFault">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="AWSFault" namespace="https://control.akamai.com/2003/Sep/PublishECCU.xsd" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


    </wsdl:binding>


    <wsdl:service name="PublishECCU">


        <wsdl:port binding="akapubeccudt:PublishECCU" name="PublishECCU">


            <wsdlsoap:address location="https://control.akamai.com/webservices/services/PublishECCU"/>


        </wsdl:port>


    </wsdl:service>


</wsdl:definitions>
